<mat-icon svgIcon="i-bank"></mat-icon>
<mat-icon svgIcon="i-calendar"></mat-icon>
<mat-icon>date_range</mat-icon>

<div class="mat-caption">
  <mat-icon svgIcon="i-calendar"
            color="accent"
            class="md-14"></mat-icon>
  28/03/2023
</div>

<div class="mat-caption">
  <mat-icon svgIcon="i-calendar"></mat-icon>
  28/03/2023
</div>

<div class="mat-caption"
     fxLayoutAlign="start center">
  <mat-icon svgIcon="i-bank"
            color="accent"
            class="md-16 mr-4"></mat-icon>
  28/03/2023
</div>

<div class="mat-caption"
     fxLayoutAlign="start center">
  <mat-icon svgIcon="i-bank"
            color="primary"
            class="md-18 mr-8"></mat-icon>
  28/03/2023
</div>
