<div class="mat-display-4">.mat-display-4</div>
<div class="mat-display-3">.mat-display-3</div>
<div class="mat-display-2">.mat-display-2</div>
<div class="mat-display-1">.mat-display-1</div>
<h1>h1, .mat-headline</h1>
<h2>h2, .mat-title</h2>
<h3>h3, .mat-subheading-2</h3>
<h4>h4, .mat-subheading-1</h4>
<h5>h5</h5>
<h6>h6</h6>

<div class="mat-body">
  <code>.mat-body</code>
  Base body text.
</div>
<div class="mat-body-strong">
  <code>.mat-body-strong</code>
  Bolder body text.</div>
<div class="mat-caption">
  <code>.mat-caption</code>
  Smaller body and hint text.
</div>

